/* Style for different task priorities */
.low {
  background-color: lightgreen;
}

.medium {
  background-color: lightyellow;
}

.high {
  background-color: lightcoral;
}

/* Other styles */
body {
  background-color:antiquewhite;
}

h1 {
  color: brown;
}

p {
  color: #666666;
}

a {
  color: #e74c3c;
}

button {
  background-color: brown;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
